<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="student1Factory">
        <property name="connection.driver_class">
            net.sourceforge.jtds.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:jtds:sqlserver://localhost:1433/hibdemo
        </property>
        <property name="connection.username">
            mnr
        </property>
        <property name="connection.password">
            mnrpass
        </property>
        <property name="connection.pool_size">5</property>
        <!-- SQL dialect -->
        <property name="dialect">
            org.hibernate.dialect.SQLServerDialect
        </property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="user.hbm.xml" />
    </session-factory>
</hibernate-configuration>
